#g001-gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--section-space-sm);
}

.g001-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-16);
}

.g001-title {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-20);
    width: 100%;
    margin-bottom: var(--section-space-sm);
}

.g001-title p {
    opacity: .75;
}

.g001-title h2 {
    font-size: var(--fs-49);
    word-spacing: .25rem;
    letter-spacing: .25rem;
    font-family: var(--ff-display);
}

.g001-scroll-hor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-16);
    overflow: hidden;
}

.g001-scroll-hor::-webkit-scrollbar {
    display: none;
}

.g001-scroll-hor {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.g001-scroll-hor,
.g001-scroll-hor {
  user-select: none;       
  -webkit-user-drag: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}

.g001-scroll-hor-track {
    width: max-content;
    height: 100%;
    display: flex;
    gap: var(--space-64);
    cursor: grab;
}

.g001-scroll-hor-track.grabbing {
    cursor: grabbing;
}

.g001-card {
    width: 400px;
    min-height: 500px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-medium);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    border-radius: var(--radius-sm);
    overflow: hidden;
    flex-shrink: 0;
}

.g001-scroll {
    font-size: var(--fs-20);
    margin-top: var(--space-40);
}

@media (max-width: 768px) {
    .g001-container {
        max-width: var(--inline-margin);
    }

    .g001-card {
        width: 300px;
        min-height: 400px;
    }
}

#g002-gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--section-space-sm);
}

.g002-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-64);
}

.g002-title {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-20);
    width: 100%;
    justify-content: center;
}

.g002-title h2 {
    display: flex;
    font-size: var(--fs-49);
    word-spacing: .25rem;
    letter-spacing: .25rem;
    font-family: var(--ff-display);
    justify-content: space-between;
    align-items: center;
    gap: var(--space-16);
}

.g002-img-container {
    padding: 0 var(--space-64);
    max-width: var(--inline-margin);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 400px;
    align-items: center;
    justify-content: center;
    gap: var(--space-40);
}

.g002-img {
    width: 100%;
    height: 100%
}

.g002-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-sm);
}

#g003-gallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--section-space-sm);
    border: 2px;
}

.g003-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-64);
}

.g003-title {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-20);
    width: 100%;
    justify-content: center;
}

.g003-title h2 {
    display: flex;
    font-size: var(--fs-49);
    word-spacing: .25rem;
    letter-spacing: .25rem;
    font-family: var(--ff-display);
    justify-content: space-between;
    align-items: center;
    gap: var(--space-16);
}

.g003-img-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-96);
}

.g003-left-column {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-40);
    padding: 0 var(--space-64);
}

.g003-left-column img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
    background-color: gray;
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-sm);
}

.g003-img {
    width: 100%;
    height: 100%
}

.g003-right-column {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    align-items: center;
    justify-content: center;
    gap: var(--space-40);
    padding: 0 var(--space-64);
}

.g003-wide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-sm);
    grid-column: span 2;
}

.g003-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-sm);
}

@media (max-width: 1200px) {
    .g003-container {
        max-width: var(--inline-margin);
    }

    .g003-img-container {
        flex-direction: column;
        padding: 0;
        max-width: var(--inline-margin);
        gap: var(--space-64);
    }

    .g003-left-column {
        width: 100%;
        padding: 0;
    }

    .g003-left-column img {
        width: 100%;
        min-height: 400px;
    }

    .g003-right-column {
        width: 100%;
        padding: 0;
    }

    .g003-img img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        background-color: gray;
        box-shadow: var(--shadow-medium);
        border-radius: var(--radius-sm);
    }
}