/* -- h001 -- */

#h001-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h001-hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
}

.h001-hero-container {
    color: var(--color-text);
    max-width: var(--width-contained);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    gap: var(--space-24);
}

.h001-hero-container p {
    font-size: var(--fs-20);
    text-align: center;
}

.h001-hero-container h1 {
    font-size: var(--fs-61);
    text-align: center;
}

.btn-var1 {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text-alt);
    font-size: var(--fs-25);
    cursor: pointer;
}

.h001-marquee {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: var(--space-16);
}

.h001-marquee-track {
    display: inline-flex;
    width: max-content;
    gap: var(--space-40);
    letter-spacing: .10rem;
}

.h001-marquee span {
    white-space: nowrap;
    font-size: var(--fs-20);
}

/* -- h002 -- */

#h002-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h002-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: var(--section-space-sm);
    gap: var(--space-24);
    width: 100%;
    max-width: var(--width-contained);
    color: var(--color-text);
}

.h002-container h1 {
    font-size: var(--fs-91);
    width: 50%;
}

/* -- h003 -- */

#h003-hero {
  margin-top: var(--section-space-sm);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.h003-column-left {
    padding:0  var(--space-40);
    overflow: hidden;
    height: 100%;
}

.h003-marquee {
    overflow: hidden;
    height: 100%;
    display: flex;
    position: relative;
}

.h003-marquee-track{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border-right: 2px solid;
    height: max-content;
    gap: var(--space-16);
}

.h003-column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h003-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}

.h003-sec-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
    width: 30%;
}


#h003-hero h1 {
  font-family: var(--ff-display);
  font-size: var(--fs-91);
}

/* -- h004 -- */

#h004-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h004-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-16);
}

.h004-main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-16);
    font-size: var(--fs-20);
}

.h004-main-text h1 {
    font-size: var(--fs-61);
}

.h004-stat-card {
    display: flex;
    gap: var(--space-40);
    text-align: center;
    padding: var(--space-32);
    background-color: var(--color-surface);
    border-radius: 8px;
    box-shadow: var(--shadow-medium);
    color: var(--color-text);
    font-size: var(--fs-20);
    margin-top: var(--space-32);
}

/* -- h005 -- */

#h005-hero {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    position: sticky;
    top: 0;
}

.h005-hero-bg {
    width: 100%;
    height: 100%;
    background-image: url(/images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; 
    z-index: -1;
    background-color: gray;
}

.h005-container {
    max-width: var(--width-contained);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: var(--space-16);
}

.h005-container h1 {
    font-size: var(--fs-91);
}

.h005-container p {
    font-size: var(--fs-20);;
}

.h005-container button {
    margin-left: var(--space-80);
    margin-top: var(--space-16);
}

.h005-secondary {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-bottom: var(--space-24);
}


#h005-about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: var(--color-bg);
    z-index: 5;
}

